.Header {
  background: #013;
  color: white;
  height: 40px;
}

.signout {
  font-size: 1rem;
  margin-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 2rem;
}

.userid {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 20px;
}