.Header {
  background: #013;
  color: white;

}

.signout {
  font-size: 1rem;
  margin-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 2.5rem;
}

.userid {
  padding-top: 10px;
  padding-bottom: 10px;
}