
.marketcard {
  margin: 3px;
  color: #F2EEE9;
  float: left;
  position: relative;
  width: 19%;
  min-width: 250px;
  min-height: 30px;

}
.marketcard .line {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 1px;
  padding: 6px 10px 0;
}

.marketcard h5 {
  font-size: 14px;
  text-align: right;
}


.marketcard .valuetitle {
  display: inline;
  font-size: 14px;
  padding: 0px 0px 0;
  text-transform: uppercase;
  color: black; 
  float : left;

}

.marketcard .title {
  display: inline-block;
  font-size: 15px;
  padding: 0px 10px 0;
  text-transform: uppercase;
  color: white;
}

.marketcard.orange {
  border: 5px solid #C7922C;
  border-radius: 5px;
  background-color: #C7922C;
}
.marketcard.red {
  border-radius: 5px;
}

.marketcard.darkgray {
  border: 5px solid #141412;
  border-radius: 5px;
  background-color: #141412;
}
.marketcard.medgray {
  border: 5px solid #2C3E50;
  border-radius: 5px;
  background-color: #2C3E50;
}



.marketcontainer {
  margin: 0 auto;
  padding: 10px;
  max-width: 1600px;
  max-height : 200px;
  text-align: center;
}


/** Server status css **/
.server-status {
  left: 10px;
  top: 50%;
  margin-left: 0px;
  margin-top: -5px;
  position: absolute;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.server-status::before,
.server-status::after {
  left: 0;
  top: 50%;
  margin-left: -1px;
  margin-top: -6px;
  position: absolute;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.server-status[type="up"],
.server-status[type="up"]::before,
.server-status[type="up"]::after {
  background: #2ECC71;
}
.server-status[type="down"],
.server-status[type="down"]::before,
.server-status[type="down"]::after {
  background: #E74C3C;
}
.server-status[type="slow"],
.server-status[type="slow"]::before,
.server-status[type="slow"]::after {
  background: #F1C40F;
}

.server-status::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.server-status::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}