.toggleButton {
  float: right;
}

.toggleText {
  color: #e1b12c;
  font-size: 14px;
  text-align: left;

}

.toggleTtitle {
  color: #dcdde1;
  font-size: 16px;
  text-align: center;

}

.settingCard {
  margin: 3px;
  color: #F2EEE9;
  float: left;
  position: relative;
  width: 16%;
  min-width: 100px;
  min-height: 310px;
}

.settingCard_title {
  color : white;
  font-size: 14px;
}

.settingCard_coin {
  color : white;
  font-size: 12px;
}


.settingCard_BID {
  color : tomato;
  text-align: left;
  font-size: 13px;

}
.settingCard .line {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1px;
  padding: 6px 10px 0;
}

.settingContainer {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.settingCard-list {
  width: 80%;
}
.settingCard.darkgray {
  border: 5px solid #42403C;
  border-radius: 5px;
  background-color: #42403C;
}